<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='style_create.css') }}">
</head>
<body>
    <div id="remaining-money" class="container-fluid">
        Argent restant : <span id="remaining-amount"></span> k£
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="sidebar">
                    <h2>Players</h2>
                    <div id="players-container" class="container">
                        {% for player in joueurs %}
                            <div class="card player" draggable="true" data-player-id="{{ player.id }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ player.Name }}</h5>
                                    <p class="card-text">Team: {{ player.team }}</p>
                                    <p class="card-text">{{ player.predicted_performance }} points</p>
                                    <p class="card-text">Prix: {{ player.cost }}k£</p>
                                    <p class="card-text">Position: {{ player.element_type }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-9 text-center">
                <div class="team">
                    <h2>Team</h2>
                    {% for element_type in ['FWD', 'MID', 'DEF', 'GK'] %}
                        <h3>{{ element_type }}</h3>
                        <div class="container">
                            <div class="row">
                                {% for player in dict_team if player["element_type"] == element_type %}
                                    <div class="col-md-3">
                                        <div class="card team-card" draggable="true">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ player.name }}</h5>
                                                <p class="card-text card-team">Team: {{ player.team }}</p>
                                                <p class="card-text card-performance">{{ player.predicted_performance }} points</p>
                                                <p class="card-text card-cost">Prix: {{ player.cost }}k£</p>
                                                <p class="card-text card-position">Position: {{ player.element_type }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', path='script_create.js') }}"></script>
</body>
</html>
