<!DOCTYPE html>
<html>
<head>
    <title>Composition de l'équipe</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<body>
    <h2>Composition de l'équipe</h2>
    {% for position in ['FWD', 'MID', 'DEF', 'GK'] %}
        <h3>{{ position }}</h3>
        <div class="container">
            {% for player, stats in dict_stats.items() if player in equipe[position] %}
                <div class="card">
                    <p>{{ player }}</p>
                    <p>{{ stats[0] }} points ; valeur : {{ stats[1] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
