<!DOCTYPE html>
<html>
<head>
    <title>Composition de l'équipe</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
    <style>
        /* Ajout de styles pour le compteur */
        .counter {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 14px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <!-- Compteur affichant les totaux -->
    <div class="counter">
        <p>Total points: {{ total_points }}</p>
        <p>Total value: {{ total_value }}</p>
        <p>Semaine en cours: {{ week_num }}</p>
    </div>

    <!-- Reste du contenu -->
    <h2>Composition de l'équipe</h2>
    {% for position in ['FWD', 'MID', 'DEF', 'GK'] %}
        <h3>{{ position }}</h3>
        <div class="container">
            {% for player, stats in dict_stats.items() if player in equipe[position] %}
                <div class="card">
                    <p>{{ player }}</p>
                    <p>{{dict_team[player]}}</p>
                    <p>{{ stats[0] }} points ; valeur : {{ stats[1] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
