<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='style_login.css') }}" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', path='Deep_Blue.png') }}" alt="logo">
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <div class="signup-link">
            <a href="/api/inscription">Sign Up</a>
        </div>
    </div>
    <script>
        const form = document.getElementById('login-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });
            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            });
            const responseData = await response.json();
            console.log(responseData);
            if (response.ok) {
                window.location.href = '/api/create_team';
            }
        });
    </script>
</body>
</html>
