<!DOCTYPE html>
<html>
<head>
    <title>Statistiques de l'utilisateur</title>
    <link rel="shortcut icon" href="/static/Deep_Blue.png" type="image/png">
</head>
<body>
    <h1>Statistiques de l'utilisateur</h1>
    <div class="button-container"></div>
    <!-- Afficher les graphiques côte à côte -->
    <div style="display: flex;">
        <div style="flex: 1;">
            <h2>Team Value</h2>
            <img src="data:image/png;base64,{{ image_team_value }}" />
        </div>
        <div style="flex: 1;">
            <h2>User Points</h2>
            <img src="data:image/png;base64,{{ image_user_points }}" />
        </div>
    </div>

    <table border="1">
        <tr>
            <th>Semaine</th>
            <th>Money</th>
            <th>Points</th>
        </tr>
        {% for stat in stats %}
        <tr>
            <td>{{ stat[1] }}</td> <!-- Affiche le numéro de semaine -->
            <td>{{ stat[2] }}</td> <!-- Affiche la valeur de l'argent -->
            <td>{{ stat[3] }}</td> <!-- Affiche les points -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
