<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='style_create.css') }}">
    <link rel="shortcut icon" href="/static/Deep_Blue.png" type="image/png">
</head>
<body>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            Argent restant :  <span id="remaining-amount"></span> k£
        </div>
        <div>
            <button class="btn btn-primary" id="save-button">Save</button>
        </div>
        <div>
            Team id : <span id="team-id" style="display: none;">{{ team_id }}</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 text-center">
            <div class="team">
                <h2>Your Team</h2>
                {% for element_type in ['FWD', 'MID', 'DEF', 'GK'] %}
                    <h3>{{ element_type }}</h3>
                    <div class="container">
                        <div class="row justify-content-between">
                            {% for player in dict_team if player["element_type"] == element_type %}
                                <div class="col-md-3">
                                    <div class="card team-card" draggable="true" card-position="{{ element_type }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ player.name }}<br></h5>
                                            <p class="card-text card-team"><strong>CLUB</strong><br> {{ player.team }}<br></p>
                                            <p class="card-text card-performance"><strong>PREDICTED POINTS</strong><br> {{ player.predicted_performance }}<br> </p>
                                            <p class="card-text card-cost"><strong>PRICE</strong><br> {{ player.cost }}k£<br></p>
                                            <p class="card-text card-position"><strong>POSITION</strong><br> {{ player.element_type }}<br></p>
                                            <p class="card-text card-id"><strong>ID</strong><br> {{ player.id }}<br></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="sidebar-container">
                <div class="sidebar">
                    <h2>Top 10 Players per position</h2>
                    <div class="search-container">
                        <input type="text" placeholder="Search..." id="search-input">
                        <button type="button" id="search-button">Search</button>
                    </div>
                    <div id="players-container" class="container">
                        {% for player in joueurs %}
                            <div class="card player sidebar-card" draggable="true" data-player-id="{{ player.id }}" card-position="{{ player.element_type }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ player.Name }}<br></h5>
                                    <p class="card-text card-team"><strong>CLUB</strong><br> {{ player.team }}<br></p>
                                    <p class="card-text card-performance"><strong>PREDICTED POINTS</strong><br> {{ player.predicted_performance }}</p>
                                    <p class="card-text card-cost"><strong>PRICE</strong><br> {{ player.cost }}k£<br></p>
                                    <p class="card-text card-position"><strong>POSITION</strong><br> {{ player.element_type }}<br></p>
                                    <p class="card-text card-id"><strong>ID</strong><br> {{ player.id }}<br></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', path='script_create.js') }}"></script>
</body>
</html>